/* Мэйн */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.project-menu-list {
  list-style: none;
}
.project-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: inherit;
  background: var(--team-bg-color);
  cursor: pointer;
}
.project-button:hover,
.project-button:focus {
  color: var(--text-color-hero);
  background: var(--accent-color);
}

.project-list {
  list-style: none;
}
.project-list-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.project-list-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
/* Футер */
.footer {
  background-color: var(--bg-color-foother);
}
.studio-footer {
  color: var(--text-color-hero);
}
.address-city,
.footer-contacts {
  text-decoration: none;
}
.address-list {
  list-style: none;
}
.address-city,
.footer-contacts {
  font-family: var(--primary-font);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color-hero);
}
.footer-contacts {
  color: rgba(255, 255, 255, 0.6);
}
.address-city:hover,
.address-city:focus {
  color: var(--accent-color);
}

.footer-contacts:hover,
.footer-contacts:focus {
  color: var(--accent-color);
}
